.sidebar {
  height: 100vh; /* flex 0.2 says that it will take 20% of the available size */
  flex: 0.2;
  color: white; /* setting min width so that even we shrink the whole page , min width will be this much  */
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #040404;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sideBarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.sidebar_logo {
  object-fit: contain;
  height: 70px;
  padding: 10px;
  margin-right: auto;
}

.sidebar_title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
